.user-page{
    min-height: auto;
    background: white;
    padding-bottom: 5px;
}
.title-page{
    padding: 10px;
    border-bottom: 1px solid black;
}
.body-page{
    background: white;
}
@media (max-width: 768px){
    .title-page{
        border-top: 1px solid black;
    }
}
.text-container{
    background: transparent;
    color: black;
    text-align: start;
    padding-left: 20px;
    width: 100%;
    height: auto;
}
.text-info-container{
    margin-bottom: -3px;
    color: black;
    text-align: start;
    font-size: 12px;
    margin-top: 1rem;
    font-weight: 700; 
}
.text-user{
    font-size: 18px;
}
.text-email{
    font-size: 12px;
}
.circle-image{
    background: black;
    border: 2px solid black;
    border-radius: 100%;
    max-width: 100px;
    max-height: 100px;
}
.contener-imagen{
    max-height: 170px;
    text-align: center;
}
.imagen{
    min-width: auto;
    min-height: 170px;
    max-width: auto;
    max-height: 170px;
}
.contener-imagen img{
    margin-top: 1%;
    width: 98%;
    height:98%;
    top:0px;
    left:0px;
}
.title-options{
    font-size: 30px;
    color: black;
}