{% extends 'base/base.html' %}

{% block body %}

<div class="container-fluid mt-5">
    <div class="row mb-3">
        <div class="col-12 text-start">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="/crear-factura" class="btn btn-success">Nueva factura
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M11.75 4.5a.75.75 0 01.75.75V11h5.75a.75.75 0 010 1.5H12.5v5.75a.75.75 0 01-1.5 0V12.5H5.25a.75.75 0 010-1.5H11V5.25a.75.75 0 01.75-.75z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <table class='table display dataTable text-center'>
        <thead class="bg-dark text-light ">
            <th>Opciones</th>
            <th>Referencia</th>
            <th>Cliente</th>
            <th>Identificación</th>
            <th>Estado </th>
            <th>Fecha</th>
        </thead>
        <tbody>
            {% for factura in facturas %}
                <tr>
                    <td><button>Editar</button><button>Eliminar</button></td>
                    <td>{{ factura['referencia'] }}</td>
                    <td>{{ factura['user'] }}</td>
                    <td>{{ factura['user_id'] }}</td>
                    <td>{{ (factura['estado']) }}</td>
                    <td>{{ (factura['fecha'])}}</td>
                    
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script>
        localStorage.clear()
    </script>
{% endblock %}
