{% extends 'base/base.html' %}

{% block body %}

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <table class='table display dataTable'>
            <thead class="bg-dark text-light">
                <th>Opciones</th>
                <th>Codigo</th>
                <th>Cliente</th>
                <th>Observaciones</th>
                <th>Email Enviado</th>
                <th>Pago</th>
                <th>Total</th>
                <th>Fecha</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="fecha"></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/fechaActual.js') }}"></script>
{% endblock %}
